@model Product
@using Microsoft.AspNetCore.Mvc.Rendering

<h2>Create New Product</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label >Trạng thái</label>
        <div class="col-4">
            <div class="input-group input-group-sm-down-break ">
                <div class="form-control">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" asp-for="Status" value="false" name="Status" id="userAccountTypeRadio1">
                        <label class="custom-control-label" for="userAccountTypeRadio1">Ẩn</label>
                    </div>
                </div>
                <div class="form-control">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" asp-for="Status" value="true" name="Status" id="userAccountTypeRadio2">
                        <label class="custom-control-label" for="userAccountTypeRadio2">Hiển thị</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label>Category:</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Product" class="btn btn-secondary">Back</a>
</form>
